@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-size: 12px;
}

.auth {
  background: #105680;
  color: #bae5ff;
  padding: 0.5rem 1rem;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
}

.auth-signup {
  background-color: none;
  border: 1px solid #105680;
  color: #105680;
  padding: 0.5rem 1rem;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
}

.active {
  color: #105680 !important;
  font-weight: bold;
}
